<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task List 2</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="app">
        <pre>{{ $data | json }}</pre>

        <div class="add_controls">
            <input v-model="taskName">
            <button v-on:click="addTask">Add Task</button>
        </div>

        <h1>Tasks</h1>
        <ol>
            <li v-for="task in tasks">
                <task :task="task"></task>

            </li>
        </ol>
        
    </div>

    <template id="prog-template">
        <div class="goal_container"></div>
    </template>

    <template id="task-template">
        <div>
            <h3>{{ task.name }}</h3>
            <div>
                <span>Goal Number: {{ task.goal }}</span>
                <select name="" id="" v-model="goalSelect" v-on:change="goalNumberSelect">
                  <option v-for="goalOption in goalOptions" v-bind:value="goalOption.value">
                    {{ goalOption.text }}
                  </option>
                </select>

                <span>Achieved Number: {{ task.achieved }}</span>
                <select name="" id="select_achieved" v-model="achievedSelect" v-on:change="achievedNumberSelect">
                    <option value="0">0</option>
                </select>
                <prog></prog>
            </div>
        </div>
    </template>


    <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.1/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>



