<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task List 2</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="app">
		<div class="add_controls">
			<input v-model="newTask">
			<button v-on:click="addTask">Add Task</button>
			<span>{{ newTask }}</span>
		</div>

        <!-- The List of Todos -->
        <div class="task_list_display">
            <h1>Tasks</h1>
            <ol>
                <li v-for="task in tasks">
                    <span>{{ task.body }}</span>
                </li>
            </ol>
        </div>

		<div class="controls">
			<span class="control_labels">Selected Goal Number: {{ selected }}</span>
			<select v-model="selected" v-on:change.prevent="displayGoalNumber">
			  <option v-for="goalNumber in goalNumbers" v-bind:value="goalNumber.value">
			    {{ goalNumber.text }}
			  </option>
			</select>
			
			<span class="control_labels">Achieved Number: {{ achieved }}</span>
			<span id="achieved_container">
				<select v-model="achieved" v-on:change="displayAchieved" id="select_achieved">
					<option value="0">0</option>
				</select>
			</span>
		</div>


		<div id="goal_container"></div>
	</div>

    <template id="task-template">
        <div>
            <h3>{{ task.name }}</h3>
            <div>
                <span>Goal Number: {{ task.goal }}</span>
                <span>Achieved Number: {{ task.achieve }}</span>
            </div>
        </div>
    </template>

	<script src="vue.js"></script>
	<script src="app.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>



