<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task List 2</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="app">
		<select v-model="selected" v-on:change.prevent="displayGoalNumber">
		  <option v-for="goalNumber in goalNumbers" v-bind:value="goalNumber.value">
		    {{ goalNumber.text }}
		  </option>
		</select>
		<span class="selectGoalNumber">Selected Goal Number: {{ selected }}</span>

		<span id="achieved_container">
			<select v-model="achieved" v-on:change="displayAchieved" id="select_achieved">
				<option value="0">0</option>
			</select>
		</span>
		<h1>{{ achieved }}</h1>
		<span class="selectGoalNumber">Selected Achieve Number: {{ achieved }}</span>

		<div id="goal_container"></div>
	</div>

	<script src="vue.js"></script>
	<script src="app.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>



