<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task List 2</title>
	<link rel="stylesheet" href="style.css">
</head>
<body>
	<div id="app">
	  <input v-model="goalNumber">
	  <button v-on:click="displayGoalNumber">Goal Number</button>
	  <input v-model="goalNumberAchieved">
	  <button v-on:click="displayGoalNumberAchieved">Goal Number Achieved</button>
	<div id="goal_container"></div>
	</div>
	<script src="vue.js"></script>
	<script src="app.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
</body>
</html>



